.navcfg{
    background-color: #72c0db;
    box-shadow: 0 5px 5px lightgray;
}

.lato{
    font-family: 'Lato';
}

.inctasks{
    width: 210px;
}

.btn-blue{
    background-color: #72c0db;
    width: 120px !important;
    justify-self: end;
}

.todo{
    font-size: 30px;
    width: 180px;
    height: 60px;
    border-right: solid 2px white;
    padding-top: 10px;
}

.pointer{
    cursor: pointer;
}

.pointer:hover{
    text-decoration: underline;
}

.thead2{
    background-color: #194767;
    border-color: #194767;
    height: 70px;
    color: white;
}

.tbshadow{
    box-shadow: 0 5px 5px lightgrey;
    border-radius: 0 0 3px 3px;
}

.colborder{
    border-bottom: solid 2px black;
}

body{
    background-color: #F7F7F6;
}

.h7{
    font-size: 1.10rem;
}

.task{
    color: #72c0db;
    font-size: 19px;
}

.checkicon{
    text-align: center;
    width: 6px;
}

.fa-check-circle, .fa-times-circle, .fa-pencil-alt, .fa-trash-alt:hover{
    cursor: pointer;
}

i{
    font-size: 20px;
    opacity: 0.4;
    vertical-align: middle;
}

.postabs {
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    height: 200px;
}

h3{
   color: #194767;
}

.text-lg{
    color: rgb(185, 183, 183);
    font-size: larger;
}

body{
        position: relative;
        min-height: 100vh;
}

.d-none{
    display: none;
}